[submodule "erfa"]
	path = erfa
	url = https://github.com/liberfa/erfa.git
[submodule "pal"]
	path = pal
	url = https://github.com/Starlink/pal.git
[submodule "lunar"]
	path = lunar
	url = https://github.com/Bill-Gray/lunar.git
